@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?st3p10');
  src: url('../fonts/icomoon.eot?st3p10#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?st3p10') format('truetype'), url('../fonts/icomoon.woff?st3p10') format('woff'), url('../fonts/icomoon.svg?st3p10#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-restaurant:before {
  content: "\e913";
}
.icon-arrow_drop_down:before {
  content: "\e914";
}
.icon-arrow_drop_down_circle:before {
  content: "\e915";
}
.icon-arrow_drop_up:before {
  content: "\e916";
}
.icon-cart:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e942";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-love:before {
  content: "\e90e";
}
.icon-like:before {
  content: "\e90e";
}
.icon-truck:before {
  content: "\e90f";
}
.icon-transport:before {
  content: "\e90f";
}
.icon-transaction:before {
  content: "\e90f";
}
.icon-shipping:before {
  content: "\e90f";
}
.icon-food:before {
  content: "\e910";
}
.icon-lunch:before {
  content: "\e910";
}
.icon-soup:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e906";
}
.icon-paper-plane:before {
  content: "\e917";
}
.icon-email:before {
  content: "\e918";
}
.icon-shopping-cart:before {
  content: "\e911";
}
.icon-circle-with-plus:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90c";
}
.icon-circle-with-cross:before {
  content: "\e90b";
}
.icon-arrow-with-circle-down:before {
  content: "\e907";
}
.icon-arrow-with-circle-up:before {
  content: "\e908";
}
.icon-arrow-with-circle-right:before {
  content: "\e909";
}
.icon-arrow-with-circle-left:before {
  content: "\e90a";
}
.icon-facebook-with-circle:before {
  content: "\e905";
}
.icon-twitter-with-circle:before {
  content: "\e904";
}
.icon-instagram-with-circle:before {
  content: "\e903";
}
.icon-youtube-with-circle:before {
  content: "\e902";
}
.icon-google-with-circle:before {
  content: "\e901";
}
.icon-pinterest-with-circle:before {
  content: "\e900";
}
.fl_right {
  float: right;
}
.fl_left {
  float: left;
}
h1,
h3,
h4,
p,
a {
  font-family: 'Catamaran', sans-serif;
}
h2 {
  text-align: center;
  padding: 10px 0 20px 0;
  margin: 0;
  font-size: 38px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}
h3 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 10px 0;
}
p {
  font-size: 16px;
  line-height: 20px;
}
a.btn-1,
a.btn-1:active,
a.btn-1:focus {
  border: 3px solid #60c800;
  color: #60c800;
  background: none;
  cursor: pointer;
  padding: 20px 90px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a.btn-1:hover {
  color: #ffffff;
  background: #60c800;
  text-decoration: none;
}
a.btn-2,
a.btn-2:active,
a.btn-2:focus {
  border: 3px solid #000000;
  color: #000000;
  background: none;
  cursor: pointer;
  padding: 20px 90px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a.btn-2:hover {
  color: #60c800;
  background: #000000;
  text-decoration: none;
}
a.btn-3,
a.btn-3:active,
a.btn-3:focus {
  border: 3px solid #000000;
  color: #60c800;
  background: #000000;
  cursor: pointer;
  padding: 20px 90px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  top: -2px;
}
a.btn-3:hover {
  color: #000000;
  background: none;
  text-decoration: none;
}
button.btn-4,
button.btn-4:active,
button.btn-4:focus {
  border: 3px solid #60c800;
  color: #000000;
  background: #60c800;
  cursor: pointer;
  padding: 8px 8px;
  display: inline-block;
  margin: 0px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 11px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
button.btn-4:hover {
  color: #000000;
  background: none;
  text-decoration: none;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .content {
    width: 760px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .content {
    width: 940px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1201px) {
  .content {
    width: 960px;
    margin: 0 auto;
  }
}
header {
  font-family: Helvetica, Verdana, Arial, Sans-Serif;
  font-size: 16px;
}
header .barTop {
  background-color: #000000;
  height: 50px;
  padding-top: 12px;
}
header .barTop .promotion {
  float: left;
  width: 80%;
}
header .barTop .promotion .promotion-text {
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding-left: 150px;
  padding-top: 5px;
}
header .barTop .links {
  float: right;
  text-align: right;
  width: 20%;
}
header .barTop .links a {
  color: #60c800;
}
header .barTop .links form {
  display: inline-block;
}
header .barTop .links form input {
  border: none;
  background: #000000;
  color: #60c800;
  opacity: 1;
  font-size: 18px;
}
header .barTop .links form input:hover {
  opacity: 0.7;
}
header .barTop .links a p {
  display: inline;
  text-transform: uppercase;
  margin-right: 8%;
}
header .barTop .links a:hover,
header .barTop .links a:visited,
header .barTop .links a:focus {
  text-decoration: none;
  font-weight: bold;
  background-color: none;
}
header .barTop .links .social-networks {
  display: inline;
  vertical-align: -webkit-baseline-middle;
}
header .barTop .links .social-networks ul {
  display: inline;
}
header .barTop .links .social-networks ul li {
  text-decoration: none;
  list-style-type: none;
  padding-right: 1%;
  display: inline-block;
}
header .barTop .links .social-networks ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
header .barTop .links .social-networks ul li .icon:before {
  color: #60c800;
  font-size: 28px;
}
header .navbar {
  height: 75px;
}
header .navbar h1 {
  width: 18%;
  float: left;
}
header .navbar h1 img {
  position: absolute;
  top: -50px;
  width: 120px;
}
header .navbar .navbar-nav {
  position: relative;
  top: -10px;
  left: 150px;
}
header .navbar .navbar-nav li a,
header .navbar .navbar-nav li a:focus,
header .navbar .navbar-nav li a:visited,
header .navbar .navbar-nav li a:active {
  color: #60c800;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 25px;
  background-color: inherit;
  border: 0px;
  outline: none;
}
header .navbar .navbar-nav li a span,
header .navbar .navbar-nav li a:focus span,
header .navbar .navbar-nav li a:visited span,
header .navbar .navbar-nav li a:active span {
  font-size: 30px;
  line-height: 15px;
}
header .navbar .navbar-nav li a span:last-child,
header .navbar .navbar-nav li a:focus span:last-child,
header .navbar .navbar-nav li a:visited span:last-child,
header .navbar .navbar-nav li a:active span:last-child {
  font-size: 25px;
  line-height: 15px;
}
header .navbar .navbar-nav li a:hover {
  background-color: transparent;
  color: #afe27b;
}
.promotion-- {
  background: #000;
  height: 35px;
  text-align: center;
  color: rgba(253, 221, 0, 0.55);
  padding: 8px;
  box-shadow: 0px -2px 4px 1px rgba(253, 221, 0, 0.55);
}
#carousel .carousel-control.left,
#carousel .carousel-control.right {
  background-image: none;
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  color: rgba(253, 221, 0, 0.55);
}
.carousel-indicators li {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(253, 221, 0, 0.55);
}
.carousel-indicators .active {
  background-color: rgba(253, 221, 0, 0.55);
}
#carousel .carousel-inner .carousel-caption {
  text-shadow: none;
  padding-bottom: 50px;
}
#carousel .carousel-inner .carousel-caption .title-carousel {
  font-size: 40px;
  margin: 0 0 60px;
  font-family: 'Dancing Script', cursive;
  line-height: 40px;
  color: #000000;
}
#carousel .carousel-inner .carousel-caption .button .btn-1 {
  font-size: 16px;
}
#carousel .carousel-inner .itm-1 .carousel-caption {
  right: 10%;
  left: 60%;
}
#carousel .carousel-inner .itm-3 .carousel-caption .title-carousel {
  color: #ffffff;
  font-size: 40px;
  text-shadow: 0 1px 2px #000000;
  line-height: 36px;
}
#carousel .carousel-inner .itm-4 .carousel-caption {
  right: 48%;
  left: 10%;
  top: 145px;
}
#carousel .carousel-inner .itm-4 .carousel-caption .title-carousel {
  color: #000000;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
}
#carousel .carousel-inner .itm-4 .carousel-caption .subtitle-carousel {
  color: #000000;
  text-shadow: 0px -1px #000000;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}
.howItWorks {
  padding: 50px;
}
.howItWorks .howItWorks-text {
  text-align: center;
  line-height: 26px;
}
.howItWorks .howItWorks-icons {
  padding-top: 50px;
  width: 100%;
}
.howItWorks .howItWorks-icons .howItWorks-icon {
  width: 24%;
  height: 180px;
  text-align: center;
  display: inline-block;
}
.howItWorks .howItWorks-icons .howItWorks-icon p {
  font-family: 'Dancing Script', cursive;
  color: #666;
  font-size: 24px;
  font-weight: bold;
}
.howItWorks .howItWorks-icons .howItWorks-icon span {
  padding: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  margin: 0 auto 25px;
  font-size: 6rem;
  background-color: #60c800;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  box-shadow: 0 0 0 4px #60c800;
}
.howItWorks .howItWorks-icons .howItWorks-icon span:hover {
  background: #ffffff;
  color: #60c800;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.howItWorks .button {
  text-align: center;
  padding: 40px 0 0 0;
}
.howItWorks .collapse {
  margin-top: 30px;
}
.howItWorks .collapse p {
  line-height: 24px;
}
.howItWorks .collapse span {
  color: #60c800;
  padding-right: 10px;
}
.menu {
  background-color: #f3f9e6;
  padding: 50px;
}
.menu p {
  text-align: center;
  line-height: 26px;
}
.menu .categories-menu {
  padding: 0 0 20px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.menu .categories-menu .view {
  display: inline-block;
  width: 440px;
  height: 250px;
  margin: 20px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
}
.menu .categories-menu .view img {
  width: 440px;
  height: 250px;
  border: 5px solid #ffffff;
}
.menu .categories-menu .view .mask {
  width: 440px;
  height: 250px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  border: 5px solid #ffffff;
}
.menu .categories-menu .view .mask h3 {
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  position: relative;
  padding: 10px;
  margin: 20px 0 0 0;
}
.menu .categories-menu img {
  display: block;
  position: relative;
}
.menu .categories-menu .view-first img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.menu .categories-menu .view-first .mask {
  opacity: 0;
  background-color: #afe27b;
  transition: all 0.4s ease-in-out;
}
.menu .categories-menu .view-first h3 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.menu .categories-menu .view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.menu .categories-menu .view-first:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.menu .categories-menu .view-first:hover .mask {
  opacity: 0.9;
}
.menu .categories-menu .view-first:hover h3 {
  transition-delay: 0.1s;
  opacity: 1;
  transform: translateY(20px);
}
.menu .categories-menu .view-first:hover a.info {
  transition-delay: 0.2s;
  opacity: 1;
  transform: translateY(40px);
}
.facebook {
  background-color: rgba(253, 221, 0, 0.55);
  padding: 60px;
  text-align: center;
  position: relative;
}
.facebook img {
  width: 200px;
  position: absolute;
  top: -74px;
  left: 748px;
  z-index: 3;
}
.about {
  background-color: #d7f1bf;
  padding: 50px;
}
.about p {
  line-height: 28px;
  text-align: center;
}
.about p:first-of-type {
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  color: #60c800;
  font-style: italic;
}
.newsletter {
  background-color: #60c800;
  padding: 50px;
  height: 240px;
  clear: both;
}
.newsletter .right {
  width: 40%;
  text-align: center;
}
.newsletter .right h3 {
  text-transform: uppercase;
  padding-bottom: 5px;
}
.newsletter .right .social-networks {
  padding-top: 30px;
}
.newsletter .right .social-networks ul {
  display: inline;
  padding: 0px;
}
.newsletter .right .social-networks ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 0 15px;
  display: inline-block;
}
.newsletter .right .social-networks ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
.newsletter .right .social-networks ul li .icon:before {
  color: #000000;
  font-size: 40px;
}
.newsletter .left {
  width: 60%;
  text-align: center;
}
.newsletter .left h2 {
  text-transform: uppercase;
  padding-bottom: 5px;
}
.newsletter .left p {
  text-align: center;
  font-size: 14px;
}
.newsletter .left .emailNewsletter {
  width: 250px;
  height: 40px;
  padding: 12px 10px;
  border: 0;
  font-style: italic;
}
.newsletter .left a {
  padding: 8px 15px;
  margin-left: -4px;
}
.contact {
  background-color: #afe27b;
  padding: 50px;
  position: relative;
  height: 590px;
}
.contact .map iframe {
  height: 330px;
  border: 0;
  position: absolute;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  z-index: 0;
  left: 0;
}
.contact .info {
  text-align: center;
  padding-bottom: 20px;
}
.contact .info .text {
  font-size: 20px;
}
.contact .info p {
  text-align: center;
  vertical-align: central;
  font-size: 25px;
}
.contact .info p span:before {
  font-size: 30px;
  padding-right: 15px;
  color: #000000;
  top: 8px;
  position: relative;
}
footer {
  clear: both;
  background-color: #000000;
  padding: 20px;
}
footer li {
  list-style: none;
  text-align: left;
}
footer a {
  color: #60c800;
}
footer a:hover {
  color: #60c800;
}
footer .col {
  display: inline-block;
}
footer .col-1,
footer col-2 {
  width: 15%;
}
footer .col-3 {
  width: 59%;
}
footer .col-4 {
  width: 19%;
}
footer .copyright {
  text-align: center;
}
footer .social-networks {
  text-align: right;
}
footer .social-networks ul {
  display: inline;
  padding: 0px;
}
footer .social-networks ul li {
  text-decoration: none;
  list-style-type: none;
  padding-right: 1%;
  display: inline-block;
}
footer .social-networks ul li a:hover {
  text-decoration: none;
  opacity: 0.7;
}
footer .social-networks ul li .icon:before {
  color: #60c800;
  font-size: 25px;
}
#menuCategory article {
  overflow: auto;
}
#menuCategory h1 {
  text-align: center;
}
#menuCategory h2 {
  clear: both;
  padding-top: 40px;
}
#menuCategory .listMenu {
  width: 31%;
  height: 405px;
  padding: 10px;
  display: inline;
  float: left;
  box-shadow: 0px 0px 5px #aaa;
  margin: 10px 1%;
}
#menuCategory .listMenu .title,
#menuCategory .listMenu .info {
  color: #60c800;
  text-decoration: none;
}
#menuCategory .listMenu .title h3,
#menuCategory .listMenu .info h3 {
  font-size: 18px;
  height: 28px;
  text-align: center;
}
#menuCategory .listMenu .title:hover h3 {
  font-weight: bold;
}
#menuCategory .listMenu .view {
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 5px #aaa;
  cursor: default;
  height: 168px;
}
#menuCategory .listMenu .view img {
  width: 278px;
  height: 198px;
  display: block;
  position: relative;
}
#menuCategory .listMenu .view .mask {
  width: 278px;
  height: 178px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
#menuCategory .listMenu .view a.info {
  text-decoration: none;
  padding: 0;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
}
#menuCategory .listMenu .view a.info span {
  font-size: 28px;
  padding: 25px;
}
#menuCategory .listMenu .second-effect .mask {
  opacity: 0;
  overflow: visible;
  border: 0px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}
#menuCategory .listMenu .second-effect a.info {
  position: relative;
  top: -10px;
  transform: scale(0, 0);
  transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}
#menuCategory .listMenu .second-effect:hover .mask {
  opacity: 1;
  border: 89px solid rgba(0, 0, 0, 0.7);
}
#menuCategory .listMenu .second-effect:hover a.info {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.3s;
}
#menuCategory .listMenu p.description {
  height: 42px;
  font-size: 14px;
  font-style: italic;
  padding: 10px 0 0 10px;
  margin-bottom: 0;
}
#menuCategory .listMenu .icons {
  text-align: center;
  margin: 5px 0;
  height: 30px;
}
#menuCategory .listMenu .icons img {
  width: 32px;
}
#menuCategory .listMenu .portion {
  display: inline-block;
  margin: 5px 0;
  vertical-align: middle;
  border: 2px #333 groove;
  height: 35px;
}
#menuCategory .listMenu .portion h3,
#menuCategory .listMenu .portion p {
  float: left;
  margin: 0 8px 0 0;
  font-size: 16px;
  position: relative;
  top: 8px;
}
#menuCategory .listMenu .portion h3 {
  width: 80px;
  padding-left: 5px;
}
#menuCategory .listMenu .portion p {
  width: 34px;
  text-align: right;
}
#menuCategory .listMenu .portion form {
  display: inline-block;
}
#menuCategory .listMenu .portion form .cart {
  border: none;
  display: inline-block;
  background: none;
  font-size: 20px;
  color: #60c800;
  text-decoration: none;
  cursor: pointer;
  margin: 0 7px 0 0;
  position: relative;
  top: 3px;
}
#menuCategory .listMenu .portion form .cart:hover {
  opacity: 0.7;
}
#menuCategory .listMenu .portion form .cart:focus {
  outline: none;
}
#menuCategory .listMenu .portion form .btn-4 {
  padding: 5px 8px;
  top: -3px;
}
#menuIdCategory .left {
  width: 60%;
  float: left;
  padding-top: 10px;
}
#menuIdCategory .left .menuId-photo {
  width: 100%;
  height: 340px;
}
#menuIdCategory .left .likes {
  margin: 10px 10px 20px;
  display: inline-block;
  overflow: hidden;
}
#menuIdCategory .left .likes .fb-like {
  float: left;
}
#menuIdCategory .left .likes .pin-it {
  float: right;
  padding-left: 15px;
}
#menuIdCategory .right {
  width: 40%;
  padding: 20px;
  float: right;
}
#menuIdCategory .right .title {
  text-align: center;
  font-size: 28px;
}
#menuIdCategory .right .subtitle {
  font-size: 20px;
  color: #999999;
}
#menuIdCategory .right .icons {
  text-align: center;
  margin-bottom: 10px;
}
#menuIdCategory .right .icons img {
  width: 45px;
}
#menuIdCategory .right .text {
  margin-bottom: 5px;
}
#menuIdCategory .right .portion {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: middle;
  border: 2px #333 groove;
}
#menuIdCategory .right .portion h3,
#menuIdCategory .right .portion p {
  float: left;
  margin: 0 20px 0 0;
  font-size: 18px;
  position: relative;
  top: 8px;
}
#menuIdCategory .right .portion h3 {
  width: 100px;
  padding-left: 5px;
  position: relative;
  top: 10px;
}
#menuIdCategory .right .portion p {
  width: 36px;
  text-align: right;
}
#menuIdCategory .right .portion form {
  display: inline-block;
}
#menuIdCategory .right .portion form .cart {
  border: none;
  display: inline-block;
  background: none;
  font-size: 20px;
  color: #60c800;
  text-decoration: none;
  cursor: pointer;
  margin: 0 7px 0 0;
  position: relative;
  top: 5px;
}
#menuIdCategory .right .portion form .cart:hover {
  opacity: 0.7;
}
#menuIdCategory .right .portion form .cart:focus {
  outline: none;
}
#menuIdCategory .right .portion form .btn-4 {
  padding: 8px 15px;
}
.bannerButtons {
  height: 265px;
  background-color: rgba(253, 221, 0, 0.55);
  width: 100%;
  margin-top: 30px;
  text-align: center;
  overflow: hidden;
  padding: 50px;
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 5px 10px;
}
.modal .modal-dialog .modal-content .modal-header img {
  width: 60px;
  overflow: hidden;
  float: left;
}
.modal .modal-dialog .modal-content .modal-header button {
  opacity: 1;
  line-height: inherit;
}
.modal .modal-dialog .modal-content .modal-header button .icon {
  color: #60c800;
}
.modal .modal-dialog .modal-content .modal-header button .icon:hover {
  opacity: 0.7;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  top: 20px;
  position: relative;
  left: 19px;
}
.modal .modal-dialog .modal-content .modal-body tr th {
  text-transform: capitalize;
  font-size: 18px;
  font-family: 'Dancing Script', cursive;
}
.modal .modal-dialog .modal-content .modal-body tr .name {
  padding-right: 100px;
}
.modal .modal-dialog .modal-content .modal-body tr .portion {
  padding-right: 5px;
}
.modal .modal-dialog .modal-content .modal-body tr .qty {
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-body tr .total {
  text-align: right;
}
.modal .modal-dialog .modal-content .modal-body tr td {
  font-size: 12px;
  vertical-align: middle;
}
.modal .modal-dialog .modal-content .modal-body tr td img {
  width: 60px;
}
.modal .modal-dialog .modal-content .modal-body tr td .price {
  width: 40px;
  border: none;
  background: none;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-body tr td .chartQte {
  width: 30px;
  text-align: center;
}
.modal .modal-dialog .modal-content .modal-body tr td .orderTotal,
.modal .modal-dialog .modal-content .modal-body tr td .chartTotal,
.modal .modal-dialog .modal-content .modal-body tr td .total_total {
  width: 60px;
  border: none;
  background: none;
  text-align: right;
}
.modal .modal-dialog .modal-content .modal-body tr td .glyphicon-minus-sign {
  color: #c80043;
  padding: 3px 3px 3px 3px;
  position: relative;
  top: 4px;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-body tr td .glyphicon-plus-sign {
  color: #60c800;
  padding: 3px 3px 3px 3px;
  position: relative;
  top: 4px;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-body tr td .glyphicon-trash {
  color: #c80043;
  position: relative;
  top: 2px;
}
.modal .modal-dialog .modal-content .modal-body tr td .glyphicon {
  cursor: pointer;
}
.modal .modal-dialog .modal-content .modal-footer a.btn-1,
.modal .modal-dialog .modal-content .modal-footer a.btn-2 {
  padding: 10px 20px;
  margin: 10px;
}
.orderSummary .form-horizontal {
  margin: 0 auto;
  padding-bottom: 50px;
}
.orderSummary .form-horizontal .form-group label {
  width: 20%;
  float: left;
  text-transform: capitalize;
}
.orderSummary .form-horizontal .form-group input,
.orderSummary .form-horizontal .form-group textarea {
  width: 60%;
  float: right;
  margin-right: 10%;
}
.orderSummary .form-horizontal button.btn-2,
.orderSummary .form-horizontal button.btn-2:active,
.orderSummary .form-horizontal button.btn-2:focus {
  border: 3px solid #000000;
  color: #000000;
  background: none;
  cursor: pointer;
  padding: 20px 90px;
  margin-left: 45%;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.orderSummary .form-horizontal button.btn-2:hover {
  color: #60c800;
  background: #000000;
  text-decoration: none;
}
.orderSummary form table tr th {
  text-transform: capitalize;
  font-size: 18px;
  font-family: 'Dancing Script', cursive;
}
.orderSummary form table tr .name {
  padding-right: 100px;
}
.orderSummary form table tr .portion {
  padding-right: 5px;
}
.orderSummary form table tr .total {
  text-align: right;
  padding-right: 15px;
}
.orderSummary form table tr td {
  font-size: 12px;
}
.orderSummary form table tr td img {
  width: 100px;
}
.orderSummary form table tr td .price {
  width: 40px;
  border: none;
  background: none;
  text-align: center;
}
.orderSummary form table tr td .chartQte {
  width: 30px;
  text-align: center;
}
.orderSummary form table tr td .orderTotal,
.orderSummary form table tr td .chartTotal,
.orderSummary form table tr td .total_total {
  width: 60px;
  border: none;
  background: none;
  text-align: right;
}
.orderReceived {
  display: inline-block;
  padding: 50px 50px 20px 100px;
}
.orderReceived span {
  color: #60c800;
  font-size: 35px;
  float: left;
}
.orderReceived p {
  float: right;
  font-size: 30px;
  padding-left: 60px;
  position: relative;
  top: -40px;
  line-height: 32px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  a.btn-1,
  a.btn-1:active,
  a.btn-1:focus {
    padding: 15px 65px;
  }
  a.btn-2,
  a.btn-2:active,
  a.btn-2:focus {
    padding: 15px 65px;
  }
  .content {
    width: 470px;
    margin: 0 auto;
  }
  .howItWorks {
    padding: 20px 0 10px 0;
  }
  .howItWorks .howItWorks-text {
    line-height: 20px;
  }
  .howItWorks .howItWorks-icons {
    padding-top: 20px;
  }
  .howItWorks .howItWorks-icons .howItWorks-icon {
    width: 49%;
    height: 190px;
  }
  .howItWorks .howItWorks-icons .howItWorks-icon span {
    padding: 35px;
    margin: 0 auto 20px;
  }
  .howItWorks .button {
    padding: 20px 0 0 0;
  }
  .howItWorks .collapse {
    margin-top: 15px;
  }
  .howItWorks .collapse p {
    line-height: 20px;
  }
  .menu {
    padding: 20px;
  }
  .menu p {
    line-height: 20px;
  }
  .menu .categories-menu {
    padding: 0 0 10px;
  }
  .menu .categories-menu .view {
    width: 100%;
    height: 195px;
    margin: 5px;
  }
  .menu .categories-menu .view img {
    width: 100%;
    height: 195px;
  }
  .menu .categories-menu .view .mask {
    width: 100%;
    height: 195px;
  }
  .menu .categories-menu .view .mask h3 {
    margin: 0;
  }
  .menu .categories-menu .view-first:hover h3 {
    transform: translateY(20px);
  }
  .menu .categories-menu .view-first:hover a.info {
    transform: translateY(20px);
  }
  .facebook {
    padding: 20px 0 10px 0;
  }
  .facebook img {
    visibility: hidden;
    display: none;
  }
  .about {
    padding: 20px 0 10px 0;
  }
  .about p {
    line-height: 20px;
  }
  .newsletter {
    padding: 20px 0 10px 0;
    height: 280px;
  }
  .newsletter .right {
    width: 100%;
  }
  .newsletter .right h3 {
    padding-bottom: 5px;
  }
  .newsletter .right .social-networks {
    padding-top: 10px;
  }
  .newsletter .left {
    width: 100%;
  }
  .newsletter .left .emailNewsletter {
    width: 200px;
    height: 40px;
    padding: 12px 10px;
  }
  .newsletter .left a {
    padding: 7px 15px;
    margin-left: -4px;
  }
  .contact {
    padding: 20px 10px 10px 10px;
    height: 450px;
  }
  .contact .map iframe {
    height: 230px;
  }
  .contact .info .text {
    font-size: 18px;
  }
  .contact .info p {
    font-size: 20px;
  }
  .contact .info p span:before {
    font-size: 20px;
    padding-right: 8px;
    top: 3px;
  }
  footer {
    padding: 5px;
    font-size: 12px;
  }
  footer .col-1,
  footer .col-2,
  footer .col-4 {
    display: none;
    visibility: hidden;
  }
  footer .col-3 {
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  a.btn-1,
  a.btn-1:active,
  a.btn-1:focus {
    padding: 15px 65px;
  }
  a.btn-2,
  a.btn-2:active,
  a.btn-2:focus {
    padding: 15px 65px;
  }
  .content {
    width: 310px;
    margin: 0 auto;
  }
  .howItWorks {
    padding: 20px 0 10px 0;
  }
  .howItWorks .howItWorks-text {
    line-height: 20px;
  }
  .howItWorks .howItWorks-icons {
    padding-top: 20px;
  }
  .howItWorks .howItWorks-icons .howItWorks-icon {
    width: 100%;
    height: 190px;
  }
  .howItWorks .howItWorks-icons .howItWorks-icon span {
    padding: 35px;
    margin: 0 auto 20px;
  }
  .howItWorks .button {
    padding: 20px 0 0 0;
  }
  .howItWorks .collapse {
    margin-top: 15px;
  }
  .howItWorks .collapse p {
    line-height: 20px;
  }
  .menu {
    padding: 20px 0 10px 0;
  }
  .menu p {
    line-height: 20px;
  }
  .menu .categories-menu {
    padding: 0 0 10px;
  }
  .menu .categories-menu .view {
    width: 100%;
    height: 180px;
    margin: 5px;
  }
  .menu .categories-menu .view img {
    width: 100%;
    height: 180px;
  }
  .menu .categories-menu .view .mask {
    width: 100%;
    height: 180px;
  }
  .menu .categories-menu .view .mask h3 {
    margin: 0;
  }
  .menu .categories-menu .view-first:hover h3 {
    transform: translateY(10px);
  }
  .menu .categories-menu .view-first:hover a.info {
    transform: translateY(20px);
  }
  .facebook {
    padding: 20px 0 10px 0;
  }
  .facebook img {
    visibility: hidden;
    display: none;
  }
  .about {
    padding: 20px 0 10px 0;
  }
  .about p {
    line-height: 20px;
  }
  .newsletter {
    padding: 20px 0 10px 0;
    height: 300px;
  }
  .newsletter .right {
    width: 100%;
  }
  .newsletter .right h3 {
    padding-bottom: 5px;
  }
  .newsletter .right .social-networks {
    padding-top: 10px;
  }
  .newsletter .left {
    width: 100%;
  }
  .newsletter .left .emailNewsletter {
    width: 175px;
    height: 40px;
    padding: 12px 10px;
  }
  .newsletter .left a {
    padding: 7px 15px;
    margin-left: -4px;
  }
  .contact {
    padding: 20px 10px 10px 10px;
    height: 460px;
  }
  .contact .map iframe {
    height: 230px;
  }
  .contact .info .text {
    font-size: 18px;
  }
  .contact .info p {
    font-size: 20px;
  }
  .contact .info p span:before {
    font-size: 20px;
    padding-right: 8px;
    top: 3px;
  }
  footer {
    padding: 5px;
    font-size: 12px;
  }
  footer .col-1,
  footer .col-2,
  footer .col-4 {
    display: none;
    visibility: hidden;
  }
  footer .col-3 {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */