@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?st3p10');
  src: url('../fonts/icomoon.eot?st3p10#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?st3p10') format('truetype'), url('../fonts/icomoon.woff?st3p10') format('woff'), url('../fonts/icomoon.svg?st3p10#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-restaurant:before {
  content: "\e913";
}
.icon-arrow_drop_down:before {
  content: "\e914";
}
.icon-arrow_drop_down_circle:before {
  content: "\e915";
}
.icon-arrow_drop_up:before {
  content: "\e916";
}
.icon-cart:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e942";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-neutral:before {
  content: "\e9f7";
}
.icon-wondering:before {
  content: "\e9fb";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-heart:before {
  content: "\e90e";
}
.icon-love:before {
  content: "\e90e";
}
.icon-like:before {
  content: "\e90e";
}
.icon-truck:before {
  content: "\e90f";
}
.icon-transport:before {
  content: "\e90f";
}
.icon-transaction:before {
  content: "\e90f";
}
.icon-shipping:before {
  content: "\e90f";
}
.icon-food:before {
  content: "\e910";
}
.icon-lunch:before {
  content: "\e910";
}
.icon-soup:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e906";
}
.icon-paper-plane:before {
  content: "\e917";
}
.icon-email:before {
  content: "\e918";
}
.icon-shopping-cart:before {
  content: "\e911";
}
.icon-circle-with-plus:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90c";
}
.icon-circle-with-cross:before {
  content: "\e90b";
}
.icon-arrow-with-circle-down:before {
  content: "\e907";
}
.icon-arrow-with-circle-up:before {
  content: "\e908";
}
.icon-arrow-with-circle-right:before {
  content: "\e909";
}
.icon-arrow-with-circle-left:before {
  content: "\e90a";
}
.icon-facebook-with-circle:before {
  content: "\e905";
}
.icon-twitter-with-circle:before {
  content: "\e904";
}
.icon-instagram-with-circle:before {
  content: "\e903";
}
.icon-youtube-with-circle:before {
  content: "\e902";
}
.icon-google-with-circle:before {
  content: "\e901";
}
.icon-pinterest-with-circle:before {
  content: "\e900";
}
.fl_right {
  float: right;
}
.fl_left {
  float: left;
}
h1,
h2,
h3,
h4,
p {
  font-family: Helvetica, Verdana, Arial, Sans-Serif;
}
.mainColor {
  color: #000000;
}
.secondColor {
  color: #ffffff;
}
.viveColor {
  color: #84bd00;
}
.mainBgColor {
  background-color: #ab0634;
}
.secondBgColor {
  color: #000000;
}
header {
  font-family: Helvetica, Verdana, Arial, Sans-Serif;
  font-size: 18px;
}
header .barTop {
  height: 50px;
  padding-top: 12px;
}
header .barTop .links {
  float: right;
  width: 40%;
}
header .barTop .links a {
  color: #ffffff;
}
header .barTop .links a p {
  display: inline;
  text-transform: uppercase;
  margin-right: 10%;
}
header .barTop .links .social-networks {
  width: 80%;
  display: inline;
}
header .barTop .links .social-networks ul {
  display: inline;
}
header .barTop .links .social-networks ul li {
  text-decoration: none;
  list-style-type: none;
  padding-right: 3%;
  display: inline-block;
}
header .barTop .links .social-networks ul li .icon:before {
  color: #84bd00;
  font-size: 18px;
}
header .navbar {
  position: fixed;
  top: 50px;
}
header .navbar h1 {
  width: 30%;
  float: left;
}
header .navbar .navbar-nav {
  width: 70%;
  float: right;
}
header .navbar .navbar-nav a {
  color: #84bd00;
  font-size: 20px;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */