{% extends 'base.html.twig' %}

{% block title %}Cuisine Vive{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    <span class='glyphicon glyphicon-edit'>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

