{% extends 'base.html.twig' %}

{% block title %}Menu - Cuisine Vive{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Este es el {{ menu }}</h1>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

