{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div class="contenu">
        <h1>Créér Portion</h1>
        <div class="form-horizontal">
            <div class="form-group">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Créér" class="btn btn-default" />
                {{ form_end(form) }}
            </div>
        </div>

        <ul>
            <li>
                <a href="{{ path('portion_index') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Retourner à la liste
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
