{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dishicons list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dishIcon in dishIcons %}
            <tr>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dishicon_new') }}">Create a new dishIcon</a>
        </li>
    </ul>
{% endblock %}
